.marginslider_container * {
	margin: 0;
	padding: 0;
}

.marginslider_container {
	width: 400px; 		/* This value is calculated automatically */
	overflow: hidden;
	height: auto;
	display: none;
	text-align: center;
	margin: auto;
}

.marginslider {
	list-style: none;
	overflow: hidden;
	width: 10000px;	
	float: left;
}

.marginslider li {
	float: left;
	/* You may change margin-left value.
	 * However there is a config option for it.
	 */
	margin-left: 15px;  
}

.left-arrow, .right-arrow {
	cursor: pointer;
	position: relative;
	line-height: 25px;
	width: 50px;
}


.grid-item{
  width: 180px; /* exactly 180 pixels for 3 items + margin */
}

.slider-item {
  width: 50px;
  height: 50px;
  margin: 5px;				/** M **/
  text-align: center;
  float: left;
  overflow: hidden;
}

svg{
  width: 100%;
  height: 100%;
}
	.cat li .grid-item .slider-item {
		width: 100px; 		/** W **/
		height: 130px;
	}

	.cat li .grid-item {
		width: 550px; 		/** 5 * (W + 2M) **/
	}

#avatar{
	width: 200px;
	height: 200px;
	float: left;
}

#layer-stack{
	float: left;
}

#layer-stack {
	width: 100px;
	height: 200px;
	background-color: white;
	overflow: auto;
	display: table-cell;
	vertical-align: bottom;
}
	#layer-stack .layer {
		padding: 2px;
		margin: 1px;
		background-color: #9AB;
	}

.arrows{
	width: 100%;
	text-align: center;
}